doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title GGI Uzbekistan Data
    link(rel='stylesheet', href='https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css')
    link(rel='stylesheet', href='/static/styles/stat.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    .head-part
      div
        a(href='/stat_ru') RU
        a.active_language(href='/stat_all') Eng
        a(href='/stat_uz') UZB
      h1.desktop-version Green Growth Indicators | Uzbekistan
      a.home_page_link(href='/', title='Home Page')  
      h1.mobile Green Growth Indicators | Uzbekistan
    .main-part
      .navigation
        h2 Navigation
        a(href='/stat_all')
          i.fa-solid.fa-file-circle-check
          h3 All indicators
        a(href='/stat-group2')
          i.fa-solid.fa-seedling
          h3 Environmental and Resource Productivity of the Economy
        a(href='/stat-group3')
          i.fa-brands.fa-envira
          h3 The Natural Asset Base
        a.active_navigation(href='/stat-group4')
          i.fa-solid.fa-building-columns
          h3 The Environmental Dimension of Quality of Life
        a(href='/stat-group5')
          i.fa-solid.fa-users-gear
          h3 Economic Opportunities and Policy Responses
        a(href='/stat-group1')
          i.fa-solid.fa-arrow-up-right-dots
          h3 Socio-economic Context
      .container-main
        .arrow#arrow
            i.fa-solid.fa-arrow-right
        .container
            .export 
              .export-message
                h2 Export 
                i.fa-solid.fa-arrow-right
              a(href='/static/data/tables-all.xlsx')
                p Excel
                i.fa-solid.fa-file-excel
              a(href='/static/data/tables-all.csv')
                p CSV File
                i.fa-solid.fa-file-csv
              a(href='/static/data/tables-all.pdf')
                p PDF File
                i.fa-solid.fa-file-pdf
            table#example.display(style='width:100%')
                thead
                  tr
                    th Group 
                    th Subgroup
                    th Indicator
                    th Unit
                    th 1990
                    th 1991
                    th 1992
                    th 1993
                    th 1994
                    th 1995
                    th 1996
                    th 1997
                    th 1998
                    th 1999
                    th 2000
                    th 2001
                    th 2002
                    th 2003
                    th 2004
                    th 2005
                    th 2006
                    th 2007
                    th 2008
                    th 2009
                    th 2010
                    th 2011
                    th 2012
                    th 2013
                    th 2014
                    th 2015
                    th 2016
                    th 2017
                    th 2018
                    th 2019
                    th 2020
                    th 2021
                    th 2022

                tfoot
                  tr
                    th Group 
                    th Subgroup
                    th Indicator
                    th Unit
                    th 1990
                    th 1991
                    th 1992
                    th 1993
                    th 1994
                    th 1995
                    th 1996
                    th 1997
                    th 1998
                    th 1999
                    th 2000
                    th 2001
                    th 2002
                    th 2003
                    th 2004
                    th 2005
                    th 2006
                    th 2007
                    th 2008
                    th 2009
                    th 2010
                    th 2011
                    th 2012
                    th 2013
                    th 2014
                    th 2015
                    th 2016
                    th 2017
                    th 2018
                    th 2019
                    th 2020
                    th 2021
                    th 2022
        .arrow-information#arrow-information
            i.fa-solid.fa-arrow-left
      .information
        .group-info(data-group='0').active_information_group
          h3 Database documentation
          p
            | The following table presents the existing data relevant to the report indicators. This data serves as the foundation for the analysis and insights outlined in the subsequent sections of the report. Detailed Clarifiction of Definition as long as data source is provided.
        each item in jsonData4.data
          .group-info(data-group= item.Id)
            h3= item.Name
            h4 Definition:
            p= item.Definition
            h4 Source:
            p= item.Source
            h4 Link:
            a(href=item.Link)= item.Link
            a(href=item.Link2)= item.Link2
            a(href=item.Link3)= item.Link3
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.7.0.js')
    script(src='https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js')
    script(src='/static/javascripts/stat4.js')