doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title GGI O'zbekiston ma'lumotlari
    link(rel='stylesheet', href='https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css')
    link(rel='stylesheet', href='/static/styles/stat.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    .head-part
      div
        a(href='/stat_ru') RU
        a(href='/stat_all') Eng
        a.active_language(href='/stat_uz') UZB
      h1.desktop-version Green Growth Indicators | Uzbekistan
      a.home_page_link(href='/uz', title='Home Page')  
      h1.mobile Yashil O'sish Ko'rsatkichlari / O'zbekiston
    .main-part
      .navigation
        h2 Navigatsiya
        a.active_navigation(href='stat_uz')
          i.fa-solid.fa-file-circle-check
          h3 Barcha ko'rsatkichlar
        a(href='/stat-group1_uz')
          i.fa-solid.fa-arrow-up-right-dots
          h3 Guruh 1
        a(href='/stat-group2_uz')
          i.fa-solid.fa-seedling
          h3 Guruh 2
        a(href='/stat-group3_uz')
          i.fa-brands.fa-envira
          h3 Guruh 3
        a(href='/stat-group4_uz')
          i.fa-solid.fa-building-columns
          h3 Guruh 4
        a(href='/stat-group5_uz')
          i.fa-solid.fa-users-gear
          h3 Guruh 5
      .container-main
        .arrow#arrow
            i.fa-solid.fa-arrow-right
        .container
            .export 
              .export-message
                h2 Eksport qilish
                i.fa-solid.fa-arrow-right
              a(href='/static/data/all_tables_uzb.xlsx')
                p Excel
                i.fa-solid.fa-file-excel
              a(href='/static/data/all_tables_uzb.csv')
                p CSV fayli
                i.fa-solid.fa-file-csv
              a(href='/static/data/all_tables_uzb.pdf')
                p PDF fayli
                i.fa-solid.fa-file-pdf
            table#example.display(style='width:100%')
                thead
                  tr
                    th Guruh 
                    th Subguruh
                    th Ta'rifi
                    th o'lchov birligi
                    th 1990
                    th 1991
                    th 1992
                    th 1993
                    th 1994
                    th 1995
                    th 1996
                    th 1997
                    th 1998
                    th 1999
                    th 2000
                    th 2001
                    th 2002
                    th 2003
                    th 2004
                    th 2005
                    th 2006
                    th 2007
                    th 2008
                    th 2009
                    th 2010
                    th 2011
                    th 2012
                    th 2013
                    th 2014
                    th 2015
                    th 2016
                    th 2017
                    th 2018
                    th 2019
                    th 2020
                    th 2021
                    th 2022

                tfoot
                  tr
                    th Guruh 
                    th Subguruh
                    th Ta'rifi
                    th o'lchov birligi
                    th 1990
                    th 1991
                    th 1992
                    th 1993
                    th 1994
                    th 1995
                    th 1996
                    th 1997
                    th 1998
                    th 1999
                    th 2000
                    th 2001
                    th 2002
                    th 2003
                    th 2004
                    th 2005
                    th 2006
                    th 2007
                    th 2008
                    th 2009
                    th 2010
                    th 2011
                    th 2012
                    th 2013
                    th 2014
                    th 2015
                    th 2016
                    th 2017
                    th 2018
                    th 2019
                    th 2020
                    th 2021
                    th 2022
        .arrow-information#arrow-information
            i.fa-solid.fa-arrow-left
      .information
        .group-info(data-group='0').active_information_group
          h3 Ma'lumotlar bazasi hujjatlari
          p
            | Quyidagi jadvalda hisobot ko'rsatkichlariga tegishli mavjud ma'lumotlar keltirilgan. Ushbu ma'lumotlar hisobotning keyingi bo'limlarida keltirilgan tahlil va tushunchalar uchun asos bo'lib xizmat qiladi. Ma'lumotlar manbai taqdim etilgan ekan, ta'rifni batafsil aniqlashtirish.
        each item in jsonDataUz.data
          .group-info(data-group= item.Id)
            h3= item.Name
            h4 Ta'rifi:
            p= item.Definition
            h4 Manba:
            p= item.Source
            h4 Havola:
            a(href=item.Link)= item.Link
            a(href=item.Link2)= item.Link2
            a(href=item.Link3)= item.Link3
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.7.0.js')
    script(src='https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js')
    script(src='/static/javascripts/statuz.js')