doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Данные GGI Узбекистан
    link(rel='stylesheet', href='https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css')
    link(rel='stylesheet', href='/static/styles/stat.css')
    link(rel='shortcut icon', href='/static/images/main_icon.png')
  body
    .head-part
      div
        a.active_language(href='/stat_ru') RU
        a(href='/stat_all') Eng
        a(href='/stat_uz') UZB
      h1.desktop-version Индикаторы зеленого роста | Узбекистан
      a.home_page_link(href='/ru', title='Home Page')  
      h1.mobile Индикаторы зеленого роста | Узбекистан
    .main-part
      .navigation
        h2 Навигация
        a.active_navigation(href='stat_ru')
          i.fa-solid.fa-file-circle-check
          h3 Все показатели
        a(href='/stat-group1_ru')
          i.fa-solid.fa-arrow-up-right-dots
          h3 Группа 1
        a(href='/stat-group2_ru')
          i.fa-solid.fa-seedling
          h3 Группа 2
        a(href='/stat-group3_ru')
          i.fa-brands.fa-envira
          h3 Группа 3
        a(href='/stat-group4_ru')
          i.fa-solid.fa-building-columns
          h3 Группа 4
        a(href='/stat-group5_ru')
          i.fa-solid.fa-users-gear
          h3 Группа 5
      .container-main
        .arrow#arrow
            i.fa-solid.fa-arrow-right
        .container
            .export 
              .export-message
                h2 Экспорт 
                i.fa-solid.fa-arrow-right
              a(href='/static/data/all_tables_rus.xlsx')
                p Excel
                i.fa-solid.fa-file-excel
              a(href='/static/data/all_tables_rus.csv')
                p CSV файл
                i.fa-solid.fa-file-csv
              a(href='/static/data/all_tables_rus.pdf')
                p Файл PDF
                i.fa-solid.fa-file-pdf
            table#example.display(style='width:100%')
                thead
                  tr
                    th Группа 
                    th Подгруппа
                    th Определение
                    th Единица измерения
                    th 1990
                    th 1991
                    th 1992
                    th 1993
                    th 1994
                    th 1995
                    th 1996
                    th 1997
                    th 1998
                    th 1999
                    th 2000
                    th 2001
                    th 2002
                    th 2003
                    th 2004
                    th 2005
                    th 2006
                    th 2007
                    th 2008
                    th 2009
                    th 2010
                    th 2011
                    th 2012
                    th 2013
                    th 2014
                    th 2015
                    th 2016
                    th 2017
                    th 2018
                    th 2019
                    th 2020
                    th 2021
                    th 2022

                tfoot
                  tr
                    th Группа 
                    th Подгруппа
                    th Определение
                    th Единица измерения
                    th 1990
                    th 1991
                    th 1992
                    th 1993
                    th 1994
                    th 1995
                    th 1996
                    th 1997
                    th 1998
                    th 1999
                    th 2000
                    th 2001
                    th 2002
                    th 2003
                    th 2004
                    th 2005
                    th 2006
                    th 2007
                    th 2008
                    th 2009
                    th 2010
                    th 2011
                    th 2012
                    th 2013
                    th 2014
                    th 2015
                    th 2016
                    th 2017
                    th 2018
                    th 2019
                    th 2020
                    th 2021
                    th 2022
        .arrow-information#arrow-information
            i.fa-solid.fa-arrow-left
      .information
        .group-info(data-group='0').active_information_group
          h3 Документация по базам данных
          p
            | В следующей таблице представлены существующие данные, относящиеся к показателям отчета. Эти данные служат основой для анализа и выводов, изложенных в последующих разделах отчета. Подробное уточнение определения при условии указания источника данных.
        each item in jsonDataRu.data
          .group-info(data-group= item.Id)
            h3= item.Name
            h4 Definition:
            p= item.Definition
            h4 Источник:
            p= item.Source
            h4 Ссылка:
            a(href=item.Link)= item.Link
            a(href=item.Link2)= item.Link2
            a(href=item.Link3)= item.Link3
    script(src='https://kit.fontawesome.com/d638520dfa.js', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.7.0.js')
    script(src='https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js')
    script(src='/static/javascripts/statrus.js')